FROM mariadb:10.10.2

VOLUME ["{{ mariadb_vol }}", "/database"]

ENV MARIADB_USER={{ MARIADB_USER }} \
    MARIADB_PASSWORD={{ MARIADB_PASSWORD }} \
    MARIADB_DATABASE={{ MARIADB_DATABASE }} \
    MARIADB_RANDOM_ROOT_PASSWORD={{ MARIADB_RANDOM_ROOT_PASSWORD }} \
    MARIADB_DATABASE={{ MARIADB_DATABASE }} \
    MARIADB_USER={{ MARIADB_USER }}

EXPOSE 3306