FROM wordpress:6.2.0-apache

ENV WORDPRESS_DB_HOST={{ WORDPRESS_DB_HOST }} \
    WORDPRESS_DB_USER={{ WORDPRESS_DB_USER }} \
    WORDPRESS_DB_PASSWORD={{ WORDPRESS_DB_PASSWORD }} \
    WORDPRESS_DB_NAME={{ WORDPRESS_DB_NAME }} \
    WORDPRESS_TABLE_PREFIX=wp_

EXPOSE 8080 
CMD ["apache2ctl", "-D", "FOREGROUND"]